.header-left.search-results-page {
  height: 7vh;
}

.header-right.search-results-page {
  height: 7vh;
  position: relative;
}

.search-title {
  cursor: pointer;
  font-size: 2.9vh;
  color: blue;
  margin-top: -1vh;
  margin-bottom: -1vh;
  width: max-content;
}

.individual-result {
  margin-bottom: 4vh;
  font-size: 2.1vh;
}

.image-google-results {
  width: 9vw;
  height: 6vh;
  position: relative;
  top: 0.5vh;
  left: 0.5vw;
  cursor: pointer;
}

.search-no-text {
  position: absolute;
  top: 10vh;
  left: 2vw;
  width: 60%;
}

.search-no-results,
.search-no-text {
  font-size: 2.1vh;
}

.search-no-results,
.search-results {
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 50%;
}

.settings-results-page {
  height: 3.2vh;
  width: 1.7vw;
  margin-right: 1vw;
  margin-bottom: 0.1vh;
}

.profile-results-page {
  height: 4vh;
  width: 2vw;
  border-radius: 2vh;
  right: 3vw;
}

.rectangle-loading-l,
.rectangle-loading-m,
.rectangle-loading-s {
  background-color: #eee;
  margin: 1vh;
  position: relative;
  right: 0.5vw;
}

.rectangle-loading-s {
  height: 2vh;
  width: 22vw;
}

.rectangle-loading-m {
  height: 3vh;
  width: 32vw;
}

.rectangle-loading-l {
  height: 2vh;
  width: 47vw;
}

.loading-content {
  margin-bottom: 5vh;
}

@media (max-width: 1024px) {
  .dark-background {
    background-color: rgba(0, 0, 0, 0.5);
  }
}